<div class="container-big-card">
    <div class="big-card-img">
        <img id="imagem-card" src="./img/pantis.jpg" alt="img" />

    </div>
    <div class="big-card-title">
        <a href="#">
            Plantas de casa podem melhorar sua saúde mental e bem-estar. Veja como começar.
        </a>
    </div>
    <div class="big-card-description">
        <p>
            Além de parecerem bonitas, as plantas de interior na verdade têm várias outras vantagens
            - o maior benefício das quais pode ser melhorar sua saúde mental. E a boa notícia é que
            você não precisa ser um autoproclamado "pai de planta" para experimentar esses benefícios também.
        </p>
    </div>
</div>