.container-small-card {
    height: 10rem;
    width: 40rem;

    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

.small-card-description {
    margin-top: 1.5rem;
}


.small-card-description > p{
    color: white;
    margin-right: 1.3rem;
    text-align:start;
    margin-bottom: 1.5rem;
}


.small-card-img > img {
    height: 100%;
    width: 15rem;
    border-radius: 8px;
    margin-right: 0.85rem;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 2rem;
}