<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container-articles">
    <div class="articles-main">
        <app-big-card 
        photoCover="http://localhost:4200/img/pantis.jpg"
        cardTitle="Jardim Botânico do Recife"
        cardDescription="O Jardim Botânico do Recife é um espaço ambiental localizado no Curado, Recife, abrigando diversos jardins temáticos e trilhas ecológicas em um dos últimos remanescentes de Mata Atlântica da cidade. Aberto ao público com entrada gratuita, oferece uma experiência única de lazer, ciência e educação em meio à natureza."
        >
    </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card
        photoCover="http://localhost:4200/img/dancafrevo-cke.webp"
        cardTitle="Conheça mais sobre o Frevo"
        cardDescription=""
        >
    </app-small-card>

        <app-small-card
        photoCover="http://localhost:4200/img/boloderolo.png"
        cardTitle="Conheça mais sobre o Bolo de rolo"
        cardDescription=""
        >
    </app-small-card>

        <app-small-card
        photoCover="http://localhost:4200/img/saojoao.webp"
        cardTitle="Conheça mais sobre o melhor São João do nordeste!"
        cardDescription=""
        >
    </app-small-card>
    </div>
</div>